<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express skills</title>
</head>
<body>
    <h1>skill</h1>
    <h1><%= skill.skill %></h1>
    <h3>complete: <%= skill.done ? 'yes' : 'no' %></h3>
    <input type="text" name="skill">
    <button type="submit">Save Skill</button>
</body>
</html>

