<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express skill</title>
</head>
<body>
    <h1>skill</h1>
    <h1><%= skill.skill %></h1>
    <a href="/skills/<%= id %>/edit">edit skill</a>
    <h3>complete: <%= skill.done ? 'yes' : 'no' %></h3>

</body>
</html>